<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Predicted Fish Species</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>
  <div class="container">
    <h1>Fish Classification</h1>
    <div id="prediction-result">
      {% if predicted_fish %}
        <h2>The species of the fish is <strong>{{ predicted_fish }}</strong></h2>
      {% else %}
        <h2>No prediction available</h2>
      {% endif %}
    </div>
</div>
</body>
</html>